@model WalutyBusinessLogic.Models.CurrencyConversionModel

    <h2>Currency conversion</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First currency</th>
            <th scope="col">Second currency</th>
            <th scope="col">First currency amount</th>
            <th scope="col">Second currency amount</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.FirstCurrency</td>
            <td>@Model.SecondCurrency</td>
            <td>@Model.AmountFirstCurrency</td>
            <td>@Model.AmountSecondCurrency</td>
            <td>@Model.Date.ToString("dd/MM/yyyy")</td>
        </tr>
    </tbody>
</table>
